/* Contenedor blanco para las columnas */
.whiteBackgroundContainer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

/* Botón de subir archivo */
.uploadButton {
  margin-top: 10px !important;
  background-color: #003A22 !important;
  color: #FFFFFF !important;
}

/* Imagen de perfil */
.profileImage {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

/* Nombre de perfil */
.profileName {
  margin-top: 10px;
  font-weight: bold;
}

.headingSmall {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.textMuted {
  color: #6c757d !important;
}



/* Botón de submit */
.submitButton {
  margin-top: 20px !important;
  background-color: #003A22 !important;
  color: white !important;
}