.pagination .page-link {
    color: #00482b;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
}

.pagination .active .page-link {
    background-color: #00482b;
    color: #fff;
    border-color: #00482b;
}